<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reloj</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1>Hola Univalle</h1>
      <img src="{{ url_for('static', filename='Logo_white.webp') }}" alt="Earth">
      <p class="time-text">La hora es: <span id="clock">{{ current_time }}</span></p>
    </div>
    <script>
      function updateClock() {
        var now = new Date();
        var formattedTime = ('0' + now.getHours()).slice(-2) + ':' +
                            ('0' + now.getMinutes()).slice(-2) + ':' +
                            ('0' + now.getSeconds()).slice(-2);
        document.getElementById('clock').textContent = formattedTime;
      }
      setInterval(updateClock, 1000);
      updateClock();
    </script>
  </body>
</html>